@import './helper/placeholders';

#root {
    .hidden {
        @extend %hidden;
    }

    .collapsed {
        width: 20vw;
        align-items: flex-end;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    margin: 0 0.5vw;
    text-align: center;
}