#root {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
  
.card-row {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
    width: 80vw;
}
  
.card-row-cards-visible {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
}
  
.card {
    width: 25%;
}
  
  
.tier-1 {
    background-color: green;
}
  
.tier-2 {
    background-color: yellow;
    color: black;
}
  
.tier-3 {
    background-color: blue;
}