@import "../../sass/helper/mixins";

.nobles-panel {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(212, 196, 152);
    color: black;
    padding: 1rem 0;
    width: 55vw;

    &.collapsed {
        width: 15vw;
    }

    .nobles-topbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: baseline;
        > * {
            margin: 0 1rem;
        }
    }
    
    .all-nobles {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        .noble-card {
            display: inline-flex;
            flex-flow: column nowrap;
            align-items: center;
            height: 100%;
            min-width: 25%;
            border-right: 1px solid black;
            &:last-child {
                border-right: none;
            }

            .mapped-noble-costs {
                display: flex;
                @include map-gem-values(".noble-cost");
            }
        }
    }
}

