@import "../../sass/helper/mixins";
@import "../../sass/helper/variables";

.card-row {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
    width: 80vw;

    .card-row-cards-visible {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-around;

        .card {
            width: 25%;
            min-height: 24vh;
            border: 2px solid black;

            .total-card-cost {
                display: flex;
                justify-content: center;
    
                @include map-gem-values(".card-cost");
            }

            > * {
                margin: 1rem;
            }

            p {
                background-color: black;
            }

            background-size: cover;
        }
    
        .card-count {
            background-color: black;
            color: white;
            width: 25%;
        }
    }
}
  
  
.tier-1 {
    background-color: rgb(23, 73, 23);
}
  
.tier-2 {
    background-color: rgb(174, 174, 32);
}
  
.tier-3 {
    background-color: rgb(35, 35, 167);
}