@import "../../sass/helper/mixins";
@import "../../sass/helper/placeholders";

.card-row {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
    width: 80vw;

    .card-row-cards-visible {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-around;
    }
    
    .card {
        width: 25%;
        border: 2px solid black;
        > * {
            margin: 1rem;
        }

        .total-card-cost {
            display: flex;
            justify-content: center;

            @include map-gem-values(".card-cost");
            p {
                @extend %chip-design;
            }
        }
    }
}
  
  
.tier-1 {
    background-color: rgb(9, 67, 9);
}
  
.tier-2 {
    background-color: rgb(174, 174, 32);
    color: black;
}
  
.tier-3 {
    background-color: rgb(35, 35, 167);
}