@import "./placeholders";

@mixin map-gem-values($parentClass) {
    #{$parentClass} {
        &-emerald {
            background-color: green;
            color: white;
        }
        &-diamond {
            background-color: white;
            color: black;
        }
        &-onyx {
            background-color: black;
            color: white;
        }
        &-sapphire {
            background-color: blue;
            color: white;
        }
        &-ruby {
            background-color: red;
            color: black;
        }
        &-gold {
            background-color: gold;
            color: black;
        }
    }
    
    p {
        @extend %chip-design;
    }
}

@mixin get-random-image($targetList) {
    $idx: random(6);
    $nth: nth($targetList, $idx);

    background-image: url($nth);
}