@import "../../sass/helper/mixins";
@import "../../sass/helper/variables";

.available-chips {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 1rem;

    p {
        margin: 1rem;
    }

    @include map-gem-values(".chips");
    @each $gem in $gemlist {
        .chips-#{$gem} {
            border-radius: 50%;
        }
    }
}