@import "../../sass/helper/mixins";

.available-chips {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(236, 238, 186);
    color: black;

    p {
        margin: 1rem;
    }

    @include map-gem-values(".chips");
}