@import "../../sass/helper/mixins";

.available-chips {
    display: flex;
    flex-flow: row wrap;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    color: black;

    p {
        margin: 1rem;
    }

    @include map-gem-values(".chips");
}