@import "../../sass/helper/mixins";

.selection-view {
    .current-selections {
        display: flex;
        align-items: center;
        justify-content: center;
        @include map-gem-values(".selection-value");
        
        p {
            margin: 1rem;
            padding: 1rem;
            border-radius: 50%;
        }
    }
}