.gameboard {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;

    background-color: rgb(57, 57, 65);
    width: 90vw;
    padding: 0 18px 12px;

    #round-marker {
        padding-left: 8px;
    }

    .gameboard-columns {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        
        section {
            display: flex;
            flex-flow: column nowrap;
        }

        .gameboard-left {
            align-items: flex-start;
            width: 50%;
        }

        .gameboard-right {
            justify-content: flex-end;
            width: 50%;
        }

        .gameboard-left-expanded {
            align-items: flex-start;
            width: 90%;
        }

        .gameboard-right-compact {
            justify-content: flex-end;
            width: 10%;
        }
    }
}