.gameboard {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;

    background-color: rgb(57, 57, 65);
    width: 100%;

    section {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
    }

    .gameboard-left {
        align-items: flex-start;
    }

    .gameboard-right {
        max-width: 30vw;
        align-items: flex-end;
    }

    .round-marker {
        font-size: 1.5rem;
    }
}