@import '../../sass/helper/mixins';
@import '../../sass/helper/placeholders';

.all-players {
    display: flex;
    background-color: rgb(237, 213, 156);
    color: black;
    .player-ui {
        p {
            margin: 1rem;
        }
        .subheader {
            font-weight: bold;
        }

        .resources {
            .player-chips-enum {
                display: flex;
                justify-content: center;
                @include map-gem-values(".player-chip");
            }
        }
    }
}