@import '../../sass/helper/mixins';
@import '../../sass/helper/placeholders';

.all-players {
    display: flex;
    justify-content: space-around;
    min-width: 80vw;
    background-color: rgb(237, 213, 156);
    color: black;

    .player-ui {
        p {
            margin: 1rem;
        }
        .subheader {
            font-weight: bold;
        }

        .resources {
            .player-chips-enum {
                display: flex;
                justify-content: center;
                @include map-gem-values(".player-chip");
            }
        }

        .reserved-card-view {
            background-color: rgb(232, 224, 200);
            .reserved-card-cost {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                @include map-gem-values(".reserve-cost");
            }
        }
    }
}