@import '../../sass/helper/mixins';
@import '../../sass/helper/variables';
@import '../../sass/helper/placeholders';

.all-players {
    @extend %all-players-base;
    .selection-view {
        .current-selections {
            display: flex;
            align-items: center;
            justify-content: center;
            @include map-gem-values(".selection-value");
            
            p {
                margin: 1rem;
                padding: 1rem;
                border-radius: 50%;
            }
        }
    }

    .player-ui {
        .subheader {
            font-weight: bold;
        }

        background-color:rgb(172, 149, 94);
        margin: 1rem 0;
        padding: 0 2rem;

        .turn-and-action-based {
            display: flex;
            flex-flow: row nowrap;
        }

        .resources {
            .player-chips-enum {
                display: flex;
                justify-content: center;
                @include map-gem-values(".player-chip");
            }
        }

        .reserved-card-view {
            background-color: rgb(232, 224, 200);
            .reserved-card-cost {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                @include map-gem-values(".reserve-cost");
            }
        }
    }
}

.all-players-mini {
    @extend %all-players-base;
}